.Formacion-bg{
    background-color: var(--blanco);
}

.Formacion-contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Certificado{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    color: var(--azulOscuro);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.certificado-vinculo{
    color: var(--azulOscuro);
}

.certificado-logo{
    background-image: url(../../../imagenes/calidad.png);
    width: 40px;
    height: 40px;
    background-size: cover;
    margin-right: 15px;
}

.certificado-vinculo:active{
    filter: invert(100%);
}

.Formacion-certificados{
    margin-bottom: 2rem;
}

@media screen and (min-width:768px) {
    .Certificado{
        font-size: 16px;
    }
}
